.articles-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-list {
	max-width: 60rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.article {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 0.5rem;
	margin: 10px 0px;

	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;

	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.article .article-input {
	max-width: 4rem;
	border: none;
	border-bottom: solid 1px;
}

.create-article {
	margin-top: 10px;
	padding: 10px;
}

.footer {
	min-height: 200px;
}
