.top-navbar {
	font-size: 25px;
	padding: 10px;
	background-color: grey;
}

.top-navbar > * {
	margin: 0 10px;
}

.top-navbar a {
	text-decoration: none;
	color: black;
}

.top-navbar a:visited {
	color: inherit;
}

.display-block {
	display: block;
}

.solid-divider {
	border: none;
	border-top: solid 1px;
	width: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vendor-item {
	background-color: lightgray;
	padding: 10px;
	width: 500px;

	border-radius: 5px;
	margin: 10px 0px;
}

.vendor-item > h2,
a {
	margin-left: 10px;
}

.vendor-item > a,
a:visited {
	color: black;
}

.vendor-week-entry {
	text-align: center;

	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0px;
}

.vendor-week-entry h3 {
	margin: 0;
}

.vendor-week-entry .solid-divider {
	margin: 10px 0;
}

.vendor-week-entry .vendor-table {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
}

.article-list {
	max-width: 60rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.article {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	gap: 0.5rem;
	margin: 10px 0px;

	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;

	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.timeframe-selection {
	text-align: center;
}

.timeframe-selection td {
	min-width: 4rem;
}

div.react-datepicker-wrapper input {
	width: 100px;
	text-align: center;
}

.centering-div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.article-input {
	max-width: 4rem;
	border: none;
	border-bottom: solid 1px;
}

.create-item {
	margin-top: 10px;
	padding: 10px;
}

.footer {
	min-height: 200px;
}

.modal {
	padding: 2rem;
	background-color: gray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}

.modal > .content {
	width: 100%;
	padding: 10px 5px;
}

.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	text-align: center;
	display: block;
}

.modal > .actions > button {
	margin: 0 1rem;
}

.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}
