.articles-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-list {
	max-width: 35rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.article {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	margin: 10px 0px;

	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;
}

.article .article-input {
	max-width: 50px;
}

.create-article {
	/* background-color: lightgray; */
	/* text-align: center; */
	padding: 10px;
	/* border-radius: 5px; */
}
