.articles-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-list {
	max-width: 45rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.article {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	margin: 10px 0px;

	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;
}

.article .article-input {
	max-width: 4rem;
	border: none;
	border-bottom: solid 1px;
	background-color: tran;
}

.create-article {
	padding: 10px;
}

.footer {
	min-height: 200px;
}
